@media screen and (min-width: 945px) {
    .container {
        width: 945px;
        margin: 0 auto;
    }
}


body {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-size: 16px;
}


p {
    font-size: 16px;
}


h1 {
    font-size: 55px;
}


h2 {
    color: #7d97ad;
    font-weight: 700;
    font-size: 35px;
}


h3 {
    color: #2d3c49;
    font-weight: 800;
    font-size: 20px;
}


hr {
    background-color: #7d97ad;
    height: 2px;
}


.header-logo {
    margin: 30px 0 0 0;
}


.category {
    display: flex;
    margin: -17px 0 0 8px;
}


.category a {
    font-size: 14px;
}


.category-top {
    margin: 0 0 10px 0;
}


.category-all {
    display: flex;
}


.item {
    display: flex;
    margin: -17px 0 0 8px;
}


.item a {
    font-size: 14px;
}


.item-description {
    margin: 0 0 18px 0;
}


.item-all {
    display: flex;
}


.item-top {
    margin: 0 0 10px 0;
}


.messages {
    background-color: #35aadc;
    height: 22px;
    margin: 0 0 10px 0;
    text-align: center;
    color: white;
}