<html>
<body>

<h1>Categories</h1>

<a href = '{{ url_for('newCategory') }}'>Create new catagory</a>
<br>

{% if categories %}
    {% for category in categories %}
    <a href = '{{ url_for('showItems', category_id=category.id)}}'>{{ category.name }}</a>
    <br>
    <a href = '{{ url_for('editCategory', category_id=category.id) }}'>Edit</a>
    <br>
    <a href = '{{ url_for('deleteCategory', category_id=category.id) }}'>Delete</a>
    <br>
    <br>
    {% endfor %}
{% else %}
    <h3>No categories found!</h3>
{% endif %}

</body>
</html>