{% extends "base.html" %}
{% block content %}

    <div class="row category-top">
        <div class="col-md-11 text-left">
            <h2>Edit Category <i>{{ category.name }}</i></h2>
        </div>
        <div class="col-md-1 text-right">
            <a href = '{{ url_for('showCatagories') }}'>
            <img src='/static/images/arrow-boxed-flat.png' alt='Back Arrow'></a>
        </div>
    </div>

    <form action='{{ url_for('editCategory', category_id=category.id) }}' method='post'>
        <p>Name:
        <input type = 'text' size='30' name='name' placeholder='{{ category.name}}'>
        </p>
        <br>
        <input type='submit' value='Save'>
        <input name=_csrf_token type=hidden value="{{ csrf_token }}">
    </form>

{% endblock %}